
header {
    margin: auto;
    /*padding: 30px;*/
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

nava{
color: #fff;
padding: 7px 25px;
display: inline-block;
}
